
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles_home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Heart Disease Predictor</h1>
        <p class="description">Welcome to the Heart Disease Predictor, your tool for assessing the risk of heart disease.</p>
        <div class="links">
            <p>
                <a href="{% url 'login' %}" class="btn">Login</a>
                <span>OR</span>
                <a href="{% url 'register' %}" class="btn">Register</a>
            </p>
        </div>
    </div>
</body>
</html>
