<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Predictor</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles_home.css' %}">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Heart Disease Predictor</h1>
        <p class="description">Empowering you to take charge of your heart health with accurate, AI-driven predictions.</p>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="cta-buttons">
            <a href="{% url 'register' %}" class="btn primary-btn">Get Started</a>
            <a href="{% url 'login' %}" class="btn secondary-btn">Login</a>
        </div>
    </div>
</body>
</html>
