body {
    font-family: Arial, sans-serif;
    background-image: url('img3.jpeg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #2980b9;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Space below the heading */
}

