{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles_register.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" required>
                {% if form.phone_number.errors %}
                    <div class="error">{{ form.phone_number.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
                {% if form.dob.errors %}
                    <div class="error">{{ form.dob.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="hospital">Hospital Name:</label>
                <input type="text" id="hospital" name="hospital_name" required>
                {% if form.hospital_name.errors %}
                    <div class="error">{{ form.hospital_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password1" required>
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password_confirmation">Password Confirmation:</label>
                <input type="password" id="password_confirmation" name="password2" required>
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
